<div class="bg w-screen min-h-screen">
    <app-navbar-convert></app-navbar-convert>
    
        <router-outlet></router-outlet>

</div>

<!-- <span class="p-input-icon-left">
    <i class="">{{symbol}}</i>
    <input  pInputText pKeyFilter="int" [(ngModel)]="money"  />
</span> -->
<!-- 
<app-lov
    #lovs
    [chaining]="true"
    label="Pilih Country"
    optLabel="name"
    (selected)="selectCurrentA($event)"
    [filter]="true"
    [customOption]="listDataA"
    [value]="valueCurrentASelected?.code"
></app-lov>

<p-button (click)="click()" label="Submit"></p-button>
<app-lov
    #lovs
    [chaining]="true"
    label="Pilih Country"
    optLabel="name"
    (selected)="selectCurrentB($event)"
    [filter]="true"
    [customOption]="listDataB"
    [value]="valueCurrentBSelected?.code"
></app-lov>
<p-button (click)="convert()" label="Convert"></p-button>



<p *ngIf="price !== 0">{{price}}</p> -->

<!-- <app-lov
        [chaining]="true"
        uri="https://restcountries.com/v3.1/all?fields=currencies"
        label="Pilih Customer"
        optLabel="name"
        (selected)="selectCurrentA($event)"
        [filter]="true"
        [value]="valueCurentA?.code"
        [valuesFind]="'code'"
    ></app-lov>

    <p-button (click)="click()" label="Submit"></p-button>

    <app-lov
        [chaining]="true"
        uri="https://restcountries.com/v3.1/all?fields=currencies"
        label="Pilih Customer"
        optLabel="name"
        (selected)="selectCurrentB($event)"
        [filter]="true"
        [value]="valueCurentB?.code"
        [valuesFind]="'code'"
    ></app-lov> -->
