.tes {
    // border: red;
    display: none;
}

.colorText-1 {
    color: black;
}

.colorText-2 {
    color: #ffeac5;
}

.customSZ {
    min-height: 35rem;
    // background-color: #ffeac5;
    border-radius: 35px;
    // background-color: #000000;
}

.customSZ-1 {
    background-color: #ffeac5;
    min-height: 35rem;
    border-radius: 35px;
}

.theme-1 {
    background-color: #ffeac5;
    color: #6c4e31;
    // display: none;
}

.hvrClr {
    transition: 0.5s;
    background-color: #6c4e31;
    color: #ffeac5;
}

.hvrClr:hover {
    background-color: #ffeac5;
    color: #6c4e31;
    border: 1px solid #6c4e31;
}

.bg-1 {
    background-color: #ffeac5;
}

.bg-2 {
    background-color: #6c4e31;
}

.bRadius {
    border-radius: 20px;
}

.styleInpt {
    border: none;
}

.positionLov {
    // display: none;
    top: 3%;
    right: 3%;
}

.btnReverse {
    padding: 0.5rem;
    border-radius: 14px;
}

.btnDetail {
    border-radius: 30px;
    border: none;
    color: white;
}

:host ::ng-deep {
    .p-dropdown.p-component {
        width: 15rem;
        background-color: #ffeac5;
    }

    input.p-inputtext.p-component.p-element.styleInpt.xs\:w-1rem.text-xl.font-bold.colorText-2.bg-2.ng-untouched.ng-pristine.ng-valid {
        width: 100%;
    }
}
